venv/
env/
ENV/
.venv/
.env
myvenv/

*.sqlite3
*.sqlite3-journal
*.db

__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
*$py.class

**/migrations/

media/

Epicure/core/settings.py
# static/
staticfiles/

.idea/
*.iml
*.sublime-project
